.popup__container {
  position: fixed;
  min-width: 430px;
  min-height: 330px;
  background-color: white;
  color: black;
  border-radius: 10px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .popup__container {
    min-width: 282px;
    min-height: 322px;
    margin: 0 19px 0;
  }
}
