.profile__name {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 48px;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .profile__name {
    max-width: 282px;
    font-size: 27px;
    line-height: 33px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
