.profile__description {
  max-width: 450px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .profile__description {
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto 30px;
  }
}
