.popup__input-container_value_signature {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 0 47px;
}

@media screen and (max-width: 768px) {
  .popup__input-container_value_signature {
    margin-bottom: 44px;
  }
}
