.profile__info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  row-gap: 12px;
  column-gap: 18px;
  margin-left: 30px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-columns: 100% auto;
    column-gap: 0;
    row-gap: 10px;
    justify-items: start;
    align-items: center;
    margin: 26px auto 0;
  }
}
