.like {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url(../../images/heart.svg);
  transition: opacity .3s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}
