.card__like {
  min-width: 22px;
  min-height: 19px;
  background-image: url(../../../../images/heart.svg);
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  transition: all .3s ease;
  padding: 0;
}

.card__like:hover {
  opacity: .6;
}
