.card {
  background-color: white;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 282px;
  height: 361px;
  overflow: hidden;
  transition: all 0.4s;
}

.card:hover {
  transform: translateY(-5px);
}

.card:hover>.card__img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline-color: black;
}
